.blogpage{
    margin-top: 3%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(253, 176, 9, 0.25);
    border-radius: 14px;
    background-color: rgb(0, 0, 0);
    border: 2px solid orange;
    color: aliceblue;
}
.blogpage h1,span{
    color: orange;
}